# Title

## Introduction

## Data preprocessing

In [2]:
import pandas as pd

In [12]:
real_expenditure_GDP = pd.read_csv("data/Expenditure_based_GDP_detail.csv", skiprows=11)
real_expenditure_GDP = real_expenditure_GDP.head(31)

real_expenditure_GDP.head()

,Estimates,Q1 1961,Q2 1961,Q3 1961,Q4 1961,Q1 1962,Q2 1962,Q3 1962,Q4 1962,Q1 1963,...,Q2 2022,Q3 2022,Q4 2022,Q1 2023,Q2 2023,Q3 2023,Q4 2023,Q1 2024,Q2 2024,Q3 2024
0,Final consumption expenditure,"293,535","298,239","306,533","307,087","313,327","317,314","315,469","321,086","324,140",...,"1,865,180","1,872,169","1,877,726","1,891,011","1,895,415","1,905,538","1,907,336","1,922,829","1,931,073","1,948,849"
1,Household final consumption expenditure,"193,805","197,421","202,241","203,009","207,687","208,873","207,986","211,777","213,212",...,"1,323,013","1,323,525","1,324,084","1,336,434","1,339,046","1,341,928","1,346,226","1,356,639","1,359,823","1,371,495"
2,Goods,"85,028","87,370","89,798","89,474","93,335","93,741","93,038","95,494","96,123",...,"582,022","575,343","574,328","581,359","582,850","580,854","585,192","585,983","585,072","591,179"
3,Durable goods,"7,744","8,190","8,933","8,723","9,497","9,479","9,200","9,843","9,882",...,"168,924","165,925","166,084","171,012","170,332","173,431","178,530","178,030","174,014","178,930"
4,Semi-durable goods,"10,318","10,230","10,398","10,728","10,985","11,288","11,158","11,288","11,213",...,"103,856","101,578","101,633","104,592","104,664","100,787","100,725","103,013","103,514","103,935"

*Statistics Canada. Table 36-10-0104-01  Gross domestic product, expenditure-based, Canada, quarterly (x 1,000,000)
DOI: https://doi.org/10.25318/3610010401-eng*

In [16]:
Real_GDP = real_expenditure_GDP.melt(
    id_vars=["Estimates"], 
    var_name="Time",       
    value_name="Value"    
)
Real_GDP.head()

                                 Estimates     Time    Value
0            Final consumption expenditure  Q1 1961  293,535
1  Household final consumption expenditure  Q1 1961  193,805
2                                    Goods  Q1 1961   85,028
3                            Durable goods  Q1 1961    7,744
4                       Semi-durable goods  Q1 1961   10,318

## Visualization

## Prediction

## Discussion